<nav>
    <div class="site-title">
        <h1>BLOGGO</h1>
        <p>A website to write your blogs</p>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create/blog">Create a new blog</a></li>
    </ul>
</nav>