<nav>
  <div class="site-title">
    <a href="/"><h1>BLOGGO</h1></a>
    <p>A website to write your blogs</p>
  </div>

  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/create/blog">Write new blog</a></li>
  </ul>
</nav>
