@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
$primaryClr: crimson;
$seceondaryClr: black;
body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
  max-width: 1200px;
}
p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}
/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    li {
      list-style-type: none;
      margin-left: 20px;
      position: relative;
      z-index: 1;
      transition: color 150px ease-in-out;
      color: #777;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $seceondaryClr;
        z-index: -1;
        transition: transform 150ms ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
      }
      &:hover::before {
        transform: scaleX(1);
      }
      &:hover {
        a {
          color: white;
        }
      }
    }
    a {
      font-size: 1.4rem;
    }
  }

  .site-title h1 {
    // text-align: center;
    position: relative;
    display: inline-block;
    font-size: 3em;
    color: $primaryClr;
    z-index: 1;
    transition: color 150ms ease-in-out;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $primaryClr;
      // box-shadow: 2px 0 12px $primaryClr;
      z-index: -1;
      transition: transform 150ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }
    &:hover::before {
      transform: scaleX(1);
    }
    &:hover {
      color: white;
    }
  }
  p,
  a {
    color: #777;
    font-weight: 300;
  }
  p {
    text-align: center;
  }
}
footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2 {
  margin-bottom: 40px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content {
  margin-left: 20px;
}
.blogs a {
  display: block;
  margin: 30px 0;
  padding-left: 30px;
  border-left: 6px solid $primaryClr;
  h3 {
    transition: color 150ms ease-in-out;
  }
}
.blogs a:hover h3 {
  color: $primaryClr;
}
.single {
  display: inline-block;
  width: 80%;
}
.date {
  display: inline-block;
  position: relative;
  bottom: 20px;
  height: 40px;
  padding: 10px;
  font-weight: 600;
}
.details {
  position: relative;
}
.delete {
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  padding: 8px;
}
.delete:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px grey;
}
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}
.create-blog button {
  margin-top: 20px;
  background: $primaryClr;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.error {
  max-width: 30vw;
  color: crimson;
  display: flex;
  position: relative;
  left: 50px;
  bottom: 20px;
  font-size: 14px;
  margin: 0;
}
.pge-error {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  background-color: rgb(235, 187, 187);
  // color: crimson;
  height: 30vh;
  padding: 90px 0;
  border-radius: 10px;
  span {
    font-size: 48px;
    margin: 0;
    color: $primaryClr;
  }
}

.auth {
  margin: 20px auto;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.507);
  max-width: 400px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h2 {
    font-weight: 500;
    font-size: 34px;
  }
  input[type="text"] {
    width: 300px;
    margin: 30px 0;
    height: 20px;
  }
  input[type="password"] {
    width: 300px;
    margin: 30px 0;
    height: 20px;
  }
  label {
    display: block;
    margin-left: 50px;
    width: 100px;
    text-align: left;
    font-weight: 400;
    font-size: 22px;
  }

  button {
    font-size: 20px;
    margin: 40px 0;
    background-color: rgba(216, 81, 108, 0.842);
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding: 10px;
    :hover {
      box-shadow: 4px 4px 10px black;
    }
  }
}
