@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
  max-width: 1200px;
}

p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav ul li {
  list-style-type: none;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  -webkit-transition: color 150px ease-in-out;
  transition: color 150px ease-in-out;
  color: #777;
}

nav ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: -1;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav ul li:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav ul li:hover a {
  color: white;
}

nav ul a {
  font-size: 1.4rem;
}

nav .site-title h1 {
  position: relative;
  display: inline-block;
  font-size: 3em;
  color: crimson;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

nav .site-title h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: crimson;
  z-index: -1;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .site-title h1:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .site-title h1:hover {
  color: white;
}

nav p,
nav a {
  color: #777;
  font-weight: 300;
}

nav p {
  text-align: center;
}

footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}

h2 {
  margin-bottom: 40px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.content {
  margin-left: 20px;
}

.blogs a {
  display: block;
  margin: 30px 0;
  padding-left: 30px;
  border-left: 6px solid crimson;
}

.blogs a h3 {
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.blogs a:hover h3 {
  color: crimson;
}

.single {
  display: inline-block;
  width: 80%;
}

.date {
  display: inline-block;
  position: relative;
  bottom: 20px;
  height: 40px;
  padding: 10px;
  font-weight: 600;
}

.details {
  position: relative;
}

.delete {
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  padding: 8px;
}

.delete:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 3px grey;
          box-shadow: 1px 2px 3px grey;
}

.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}

.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-blog label {
  display: block;
  margin-top: 24px;
}

textarea {
  height: 120px;
}

.create-blog button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.error {
  width: 60%;
  color: crimson;
}

.pge-error {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  background-color: #ebbbbb;
  height: 30vh;
  padding: 90px 0;
  border-radius: 10px;
}

.pge-error span {
  font-size: 48px;
  margin: 0;
  color: crimson;
}

.auth {
  margin: 20px auto;
  padding: 30px 20px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.507);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.507);
  max-width: 400px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.auth h2 {
  font-weight: 500;
  font-size: 34px;
}

.auth input[type="text"] {
  width: 300px;
  margin: 30px 0;
  height: 20px;
}

.auth input[type="password"] {
  width: 300px;
  margin: 30px 0;
  height: 20px;
}

.auth label {
  display: block;
  margin-left: 50px;
  width: 100px;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
}

.auth button {
  font-size: 20px;
  margin: 40px 0;
  background-color: rgba(216, 81, 108, 0.842);
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.auth button :hover {
  -webkit-box-shadow: 4px 4px 10px black;
          box-shadow: 4px 4px 10px black;
}
/*# sourceMappingURL=styles.css.map */